{% extends "base.html" %}
{% block content %}
<div class="row">
  {% for item in items %}
    <div class="col-12 col-lg-6">
      <div class="card-project">
        <div class="currency-title">
          <h2>{{ item.name }}</h2>
        </div>
        <div class="description">{{ item.description }}</div>
        <div class="launch">Launch: <span>{{ item.launch }}</span></div>
        <div class="launch">Base: <span>{{ item.base }}</span></div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
