html,
body {
	font-family: 'Roboto Condensed',sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.currency-title h2 {
  font-size: 1.5rem;
  padding-top: .1875rem;
  padding-bottom: .25rem;
  letter-spacing: -1px;
  color: #000;
  margin-top: 20px;
}

.card-project {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #5e5e5e;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

